<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<nk-string-utils>
  Come, what you running away from?
  Come, there's only liberty here
  Now open arms surround you
  Now love will conquer your fear
  Look up, let go the pain that you've seen
  You've been who you are
  Not who you could be
  Lift up open hands
  Reach out where you stand
  Wherever you are know that you are
  Born to be free
  One man sacrifice
  One death for all life
  Don't forget it
  You're forgiven
  Born to be free
  Bring every imperfection
  Bring every hurt you hide
  Look up, let go, leave it behind
  Healing is here now
  There's no need to fight
  Lift up open hands
  Reach out where you stand
  Wherever you are know that you are
  Born to be free
  One man sacrifice
  One death for all life
  Don't forget it
  You're forgiven
  Born to be free
  Come, what you running away from?
  Come, there's only liberty here
  Lift…
</nk-string-utils>

